
<div>
    {{#each productos.docs}}
    <div>
        <table class="table">
          
    <tbody id="productosContenedor">

    <thead>
      <tr>
        <th scope="col"><p>{{this.title}}</p></th>
        <th scope="col">{{this.type}}</th>
        <th scope="col">{{this.price}}</th>
        <th scope="col">{{this.thumbnail}}</th>
        <button type="button" class="btn btn-primary">Agregar</button>
      </tr>
    </thead>
    </tbody>
  </table>
    </div>
    {{/each}}
  
    <div class="botonPage">
      {{#if productos.hasPrevPage}}
          <a href="{{productos.prevLink}}">Anterior</a>
      {{/if}}
    {{#if productos.hasNextPage}}
    <a href="{{productos.nextLink}}">Siguiente</a>
    {{/if}}
    </div>
    
</div>
<script src="/js/index.js"></script>
